html {
    background-color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
}

#about {
    display: flex;
}

#about-container {
    display: block;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

#about-greeting {
    padding-top: 80px;
    text-align: left;
    font-size: xxx-large;
    margin-bottom: 0;
}

#about-blurb {
    text-align: left;
    padding-top: 5px;
}

#test {
    background-color: green;
}

ul {
    background: white;
    /*padding: 10px;*/
    /*border: 1px solid black;*/
    font-family: 'Courier New', Courier, monospace;
}

li {
    margin-left: 20px;
}

h1 {
    padding-top: 10px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    text-align: center;
}

img {
    padding-top: 30px;
    width: 100%;
}

.skills-lists {
    display: flex;
}

.skills-lists>div {
    flex: 10;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #80B192;
}

nav>.navitem {
    flex: 50;
}

.navitem {
    text-decoration: none;
    text-align: center;
    color: black;
}

.navitem:hover {
    text-decoration: underline;
    color: grey;
}

footer {
    background-color: #ECDCB0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left: 0;
}