html {
    font-size: 20px;
    font-family: "Hind";
    background-color: white;
}

h1 {
    padding-top: 10px;
    text-align: center;
}

h2 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: 0;
    background-color: #2274A5;
    color: white;
}

p {
    font-family: "Open Sans";
}

li {
    margin-left: 20px;
}

body {
    margin: 0;
    font-family: "Open Sans";
} 

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-align: center;
    background-color: #2274A5;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: "Open Sans";
}

#nav-spacer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: red;
    font-size: 14px;
}

nav>.navitem {
    flex: 50;
}

.navitem {
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    color: white;
}

.navitem:hover {
    color: #92898A;
}

#about {
    display: flex;
    padding-top: 40px;
    margin-top: -20px;
    padding-bottom: 80px;
}

#about-container {
    display: block;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
}

#about-greeting {
    padding-top: 90px;
    text-align: left;
    font-size: xxx-large;
    margin-bottom: 0;
}

#about-blurb {
    text-align: left;
    padding-top: 20px;
}

#timeline {
    padding-top: 20px;
    margin-top: -20px;
    padding-bottom: 60px;
}

.timeline {
    display: grid;
    grid-template-columns: 10% 30% 60%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    row-gap: 3em;
    column-gap: 1em;
    color: black;
    border: 0;
    font-size: medium;
}

.timeline-year {
    color: black;
}

.timeline-institution {
    color: #2274A5;
    /*text-decoration: underline;*/
}

.timeline-institution:hover {
    color: #92898A;
    text-decoration: none;
}

#projects {
    padding-top: 20px;
    margin-top: -20px;
    padding-bottom: 60px;
}

.projects {
    display: grid;
    grid-template-columns: 20% 30% 60%;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 20%;
    padding-right: 20%;
    row-gap: 3em;
    column-gap: 1em;
    color: black;
    border: 0;
    font-size: medium;
}

.projects-title {
    color: #2274A5;
    font-weight: bold;
    /*text-decoration: underline;*/
}

.projects-title:hover {
    color: #92898A;
    text-decoration: none;
}



.headshot {
    padding-top: 30px;
    text-align: center;
}

#skills {
    padding-top: 20px;
    margin-top: -20px;
    padding-bottom: 60px;
}

.skills-lists {
    display: flex;
}

.skills-lists>div {
    flex: 10;
}

footer {
    background-color: #92898A;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.emphasis {
    color: #3B60E4;
}

#contact {
    padding-bottom: 20px;
}

.contact-list {
    display: inline-block;
    list-style-type: none;
}

.contact-type {
    padding: 10px;
    vertical-align: middle;
    height: 100%;
}

.contact-item {
    color: #2274A5;
    font-weight: bold;
    text-decoration: none;
    
}

a {
    color: #2274A5;
    text-decoration: none;
}

a:hover {
    color: #92898A;
}

.contact-item:hover {
    color: #92898A;
    text-decoration: none;
}