body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333333;
    font-size: 16px;
    line-height: 1.5;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.navitem {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    margin-right: 20px;
    transition: all 0.2s ease-in-out;
}

.navitem:hover {
    color: #008cba;
}

/* Page header */
#nav-spacer {
    height: 80px;
}

h1 {
    font-size: 36px;
    margin-top: 0;
}

/* Blog index */
.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.index {
    width: 48%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.index-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.index-title {
    color: #008cba;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.index-title:hover {
    text-decoration: underline;
}

.index-date {
    font-size: 14px;
    color: #999999;
}

.index-description {
    font-size: 16px;
    color: #333333;
}

.footer {
    background-color: #92898A;
    color: white;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: middle;
    flex-shrink: 0;
}

.target {
    position: absolute;
    top: -40px;
}
